@model GoMyShops.Models.ViewModels.LoginImageViewModels
@using System.Text.Json;
@{
    ViewBag.Title = "Log in";
}
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            //$('.body-content').css("background-image", "url('Images/featured-background.png')");
            // $(".body-content").addClass("loginBackground");
            // $('.body-content').css('background-size', 'cover');

            var LoginObj = @Html.Raw(JsonSerializer.Serialize(Model))Or JsonConvert.SerializeObject(item)
            
            if (LoginObj) {
                if (LoginObj.Message != null && LoginObj.Message != "") {
                    $('.itemListValidationMessageContainer').ShowBoostrapAlert(LoginObj.Message, "danger", true, true, true);
                }
            } 
        });
    </script>
}

<section id="loginForm" class="text-center">
    @using (Html.BeginForm("LoginPhrase", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,true, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @*@Html.Raw(Html.CustomValidationSummary(true))*@
        @Html.HiddenFor(model => model.UserName)
        @Html.HiddenFor(model => model.Code)
        @Html.HiddenFor(model => model.Src)
        @Html.HiddenFor(model => model.Phrase)

       

        <div class="LoginContainer">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
           
            <div class="row">
                <div class="itemListMessageContainer"></div>

            </div>
            <div class="row loginForm">
                <div class="col-md-12">                   
                    <div class="card border-primary mb-3 text-center">
                        <div class="card-header">User Login</div>
                        <div class="card-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <span class="help-block">
                                        Are these your image and security phrase?
                                    </span>
                                    <div class="col-md-4 FormLableTitle">@*@Html.DisplayNameFor(m => m.Phrase)*@</div>
                                    <div class="col-md-4 loginimageDiv">
                                        <img class="loginimage" src="@Url.Content(Model.Src)" />
                                    </div>
                                    <div class="col-md-4 loginimageDiv">
                                    </div>
                                </div>
                                @{
                                    if (Model.Phrase != null && Model.Phrase != "")
                                    {
                                        <div class="row">
                                            <div class="col-md-4 FormLableTitle">@Html.DisplayNameFor(m => m.Phrase)</div>
                                            <div class="col-md-8 text-start">
                                                @Html.DisplayTextFor(u => u.Phrase)
                                            </div>
                                        </div>
                                    }
                                }


                                <div class="row">
                                    <div class="col-md-4 FormLableTitle">User ID</div>
                                    <div class="col-md-8 text-start">
                                        @Html.DisplayTextFor(u => u.UserName)
                                    </div>


                                </div>
                                <div class="row">
                                    <div class="col-md-4 FormLableTitle">User Password</div>
                                    <div class="col-md-6">
                                        @Html.PasswordFor(u => u.Password, new { @class = "form-control", maxlength = 15, AUTOCOMPLETE = "OFF" })
                                        @Html.ValidationMessageFor(m => m.Password)
                                    </div>                                   
                                </div>

                                <div class="row">
                                    <div class="col-md-4 FormLableTitle"></div>
                                    <div class="col-md-6 text-start">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="submit" value="Log in" class="btn btn-primary" />
                                            </div>
                                            <div class="col-md-6">
                                                <input type="button" value="Cancel" class="btn btn-primary itemLoginPage" />
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div class="row">
                                    <div class="itemListValidationMessageContainer ValidationMessageContainer"></div>
                                    <div class="itemListMessageContainer DetailMessageContainer"></div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-muted text-start">
                            <div class="row">
                                <div class="col-md-12 text-start">
                                    <a href="#" class="linkForgotPassword">Forgot your password?</a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
              
        <div class="col-md-2">
            @*<img src="@Url.Content("~/Images/gomyshopslogo1.png")" />*@

        </div>
    </div>
</div>
    }
</section>
