@model GoMyShops.Models.ResetPasswordViewModel
@using GoMyShops.Models.Helpers;
@{
    ViewBag.Title = "Change password";
}
@section Scripts
{
<script type="text/javascript">
    $(document).ready(function () {
        // $(".body-content").addClass("loginBackground");
        // $('.body-content').css('background-size', 'cover');
    });
</script>
}

<section id="loginForm" class="text-center invalidpassword">
    @using (Html.BeginForm("LoginResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()


        @Html.Raw(Html.CustomValidationSummaryWithCustomHeader(true, "The password you have entered is invalid"))
        <div class="LoginContainer">

            <div class="row"></div>
            <div class="row">
                @Html.HiddenFor(model => model.EmailCode)
                @Html.HiddenFor(model => model.Email)
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Change Password</div>
                        <div class="panel-body">                                                       
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-4 FormLableTitle">@Html.DisplayNameFor(m => m.CurrentPassword)</div>
                                    <div class="col-md-6">
                                        @Html.PasswordFor(u => u.CurrentPassword, new { @class = "form-control", maxlength = 20 })
                                        @Html.ValidationMessageFor(m => m.CurrentPassword)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 FormLableTitle">@Html.DisplayNameFor(m => m.Password)</div>
                                    <div class="col-md-6">
                                        @Html.PasswordFor(u => u.Password, new { @class = "form-control", maxlength = 20, AUTOCOMPLETE = "OFF" })
                                        @Html.ValidationMessageFor(m => m.Password)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 FormLableTitle">@Html.DisplayNameFor(m => m.ConfirmPassword)</div>
                                    <div class="col-md-6">
                                        @Html.PasswordFor(u => u.ConfirmPassword, new { @class = "form-control", maxlength = 20 })
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4 FormLableTitle"></div>
                                    <div class="col-md-6 text-left">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="submit" value="Change" class="btn btn-primary" />
                                            </div>
                                            <div class="col-md-6">
                                                <input type="button" value="Cancel" class="btn btn-primary itemLoginPage" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">


                </div>
            </div>
        </div>
    }
</section>



